<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change事件</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
       /* $(document).ready(function () {
            $("input").change(function () {
                alert("文本已被修改")
            })
        })*/
       $(function () {
            $("input").change(function () {
                alert("文本已修改")
            })
       })
    </script>
</head>
<body>
<input type="text">
<p>请在输入框内书写一些东西，然后按下Enter键或者鼠标点击输入框外部</p>
</body>
</html>