<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(function () {
            debugger
            $("button").click(function () {
                alert($("input:text").val())
            })
        })

        $(function () {
            $("#btn1").click(function () {
                debugger
                alert($("#ip1").value());
            })
        })

    </script>
</head>
<body>
第一个名称：<input type="text" name="fname" value="唐帅哥">
最后一个名称：<input id="ip1" type="text" name="lname" value="靓仔">

测试一下回滚
<button>返回第一个输入字段的值</button>
<button id="btn1">根据name筛选唐帅哥</button>
</body>
</html>